<a href="https://colab.research.google.com/github/ckim415/Yeonny/blob/master/codingtest_prep/level3/%EC%A7%95%EA%B2%80%EB%8B%A4%EB%A6%AC_%EA%B1%B4%EB%84%88%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
stones = [2, 4, 5, 3, 2, 1, 4, 2, 5, 1]
k = 3

# 이분탐색
 - start, end 
 - while start <= end:
  - mid = (start + end) // 2

  - if

In [ ]:
start, end = 1, 200000000
while start <= end:
  mid = (start+end) // 2
  tmp = stones.copy()
  cnt = 0
  for t in tmp:
    if t - mid <= 0:
      cnt += 1
    else:
      cnt = 0
    
    if cnt >= k:
      break
  
  if cnt >= k:
    end = mid - 1
  else:
    start = mid + 1

  print(start, end)
print(start)

1 99999999
1 49999999
1 24999999
1 12499999
1 6249999
1 3124999
1 1562499
1 781249
1 390624
1 195311
1 97655
1 48827
1 24413
1 12206
1 6102
1 3050
1 1524
1 761
1 380
1 189
1 94
1 46
1 22
1 10
1 4
3 4
3 2
3

In [ ]:
start, end = 1, max(stones)
answer = 1
while start <= end:
  mid = (start+end) // 2
  cnt = 0
  for s in stones:
    if s - mid <= 0:
      cnt += 1
    else:
      cnt = 0
    
    if cnt >= k:
      break

  print(start, end, answer)
  
  if cnt >= k:
    end = mid - 1
    answer = max(answer, mid)
  else:
    start = mid + 1
print(answer)

1 5 1
1 2 3
2 2 3
3