<a href="https://colab.research.google.com/github/ckim415/Yeonny/blob/master/codingtest_prep/%EB%AC%B8%EC%A0%9C%ED%92%80%EC%9D%B4/%EB%8F%99%EC%A0%81%ED%95%B5%EC%8B%AC/%EA%B0%80%EC%9E%A5%EB%86%92%EC%9D%80%ED%83%91%EC%8C%93%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 가장 높은 탑 쌓기
 - 백준 : 2655
 - 5

25 3 4

4 4 6

9 2 3

16 2 5

1 5 2

In [ ]:
n = int(input())
data = []
data.append((0,0,0,0))
for i in range(1,n+1):
  area, height, weight = map(int, input().split())
  data.append((i,area,height,weight))

data

5
25 3 4
4 4 6
9 2 3
16 2 5
1 5 2

[(0, 0, 0, 0),
 (1, 25, 3, 4),
 (2, 4, 4, 6),
 (3, 9, 2, 3),
 (4, 16, 2, 5),
 (5, 1, 5, 2)]

In [ ]:
data = sorted(data, key = lambda x: x[-1])
for i in data:
  print(i)

(0, 0, 0, 0)
(5, 1, 5, 2)
(3, 9, 2, 3)
(1, 25, 3, 4)
(4, 16, 2, 5)
(2, 4, 4, 6)

In [ ]:
dp = [0] *(n+1)
for i in range(1,n+1):
  for j in range(0,i):
    if data[i][1] > data[j][1]:
      dp[i] = max(dp[i], dp[j]+data[i][2])

10

In [ ]:
max_h = max(dp)
dp, max_h, n

([0, 5, 7, 10, 9, 9], 10, 5)

In [ ]:
answer = []
idx = n
while idx != 0:
  if dp[idx] == max_h:
    
    answer.append(data[idx][0])
    max_h -= data[idx][2]
  idx -= 1

In [ ]:
answer

[1, 3, 5]

In [ ]:
print(len(answer))
for i in range(len(answer)-1,-1,-1):
  print(answer[i])

3
5
3
1

25 3 4

4 4 6

9 2 3

16 2 5

1 5 2

In [ ]:
n = int(input())
data = [(0,0,0,0)]
for i in range(1,n+1):
  area, height, weight = map(int, input().split())
  data.append((i, area, height, weight))

data = sorted(data, key = lambda x: x[-1])
data

5
25 3 4
4 4 6
9 2 3
16 2 5
1 5 2

[(0, 0, 0, 0),
 (5, 1, 5, 2),
 (3, 9, 2, 3),
 (1, 25, 3, 4),
 (4, 16, 2, 5),
 (2, 4, 4, 6)]

In [ ]:
dp = [0] * (n+1)
for i in range(1, n+1):
  for j in range(0,i):
    if data[i][1] > data[j][1]:
      dp[i] = max(dp[j]+data[i][2], dp[j])

dp

[0, 5, 7, 10, 9, 9]

In [ ]:
max_val = max(dp)
max_val, n

(10, 5)

In [ ]:
max_val = max(dp)
answer = []
idx = n
while idx != 0:
  if dp[idx] == max_val:
    answer.append(data[idx][0])
    max_val -= data[idx][2]
  idx -= 1

print(len(answer))
for i in range(len(answer)-1, -1,-1):
  print(answer[i])

3
5
3
1

# 복기

In [1]:
n = int(input())
data = []
for i in range(1, n+1):
  a,h,w = map(int, input().split())
  data.append((i,a,h,w))

5
25 3 4
4 4 6
9 2 3
16 2 5
1 5 2

In [9]:
data2 = sorted(data, key=lambda x : (x[1], x[-1]), reverse=True)
data2

[(1, 25, 3, 4), (4, 16, 2, 5), (3, 9, 2, 3), (2, 4, 4, 6), (5, 1, 5, 2)]

In [10]:
answer = [data2[0][0]]
start = data2[0][-1]
for i in range(1,len(data2)):
  if start <= data2[i][-1]:
    continue
  else:
    start =  data2[i][-1]
    answer.append(data2[i][0])

In [11]:
answer

[1, 3, 5]

In [14]:
for i in range(len(answer)-1,-1,-1):
  print(answer[i])

5
3
1

In [17]:
dp = [0]* (n+1)
data = [(0,0,0,0),(1, 25, 3, 4), (4, 16, 2, 5), (3, 9, 2, 3), (2, 4, 4, 6), (5, 1, 5, 2)]
data

[(0, 0, 0, 0),
 (1, 25, 3, 4),
 (4, 16, 2, 5),
 (3, 9, 2, 3),
 (2, 4, 4, 6),
 (5, 1, 5, 2)]

In [18]:
data.sort(key = lambda x:x[-1])
data

[(0, 0, 0, 0),
 (5, 1, 5, 2),
 (3, 9, 2, 3),
 (1, 25, 3, 4),
 (4, 16, 2, 5),
 (2, 4, 4, 6)]

In [19]:
for i in range(1,len(dp)):
  for j in range(0,i):
    if data[i][1] > data[j][1]:
      dp[i] = max(dp[j]+data[i][2], dp[j])
dp

[0, 5, 7, 10, 9, 9]

In [20]:
max_h = max(dp)
answer = []
idx = n
while idx != 0:
  if dp[idx] == max_h:
    answer.append(data[idx][0])
    max_h -= data[idx][2]
  idx -= 1
answer

[1, 3, 5]

In [21]:
print(len(answer))
for i in range(len(answer)-1,-1,-1):
  print(answer[i])

3
5
3
1