<a href="https://colab.research.google.com/github/ckim415/Yeonny/blob/master/codingtest_prep/python/algorithm/recursive.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# recursive

## factorial 구현

In [1]:
#1
def factorial(num):

  if num > 1:
    return num * factorial(num-1)
  else:
    return num

In [3]:
for num in range(5):
  print(num, factorial(num))

0 0
1 1
2 2
3 6
4 24

In [4]:
#2
def factorial(num):

  if num <= 1:
    return num

  return num * factorial(num - 1)

In [5]:
for num in range(5):
  print(num, factorial(num))

0 0
1 1
2 2
3 6
4 24

## 예제

### 예제1
 - 1 부터 n 까지의 곱을 출력

In [10]:
#일반 반복문 써서 구현
def multiple(num):
  
  data = num
  for i in range(num-1, 1, -1):
    data *= i

  return data

In [11]:
multiple(10)

3628800

In [6]:
# 재귀 용법
def multiple(data):

  if data <= 1:
    return data

  return data * multiple(data-1)

In [7]:
multiple(10)

3628800

### 예제2
 - 리스트의 합을 리턴하는 함수

In [14]:
#일반 함수
def sum_list(data):
  sum = 0
  for i in data:
    sum += i

  return sum

In [15]:
sum_list([i for i in range(11)])

55

In [16]:
def sum(data):
  if len(data) <= 1:
    return data[0]

  return data[0] + sum(data[1:])

In [18]:
sum([i for i in range(11)])

55

### 예제3
- 회문: 순서를 거꾸로 읽어도 제대로 읽은 것과 같은 단어
- 회문을 판별할수 있는 함수를 리스트 슬라이싱을 활용해서 만드시

In [20]:
def palindrome(string):
  if len(string) <= 1:
    return True

  if string[0] != string[-1]:
    return False

  return palindrome(string[1:-1])

In [21]:
palindrome('level')

True

In [22]:
palindrome('Dave')

False

### 예제4
 - 입력값이 홀수면 3*입력값 + 1
 - 짝수면 입력값 / 2
 - 입력값이 1이 될때까지

In [27]:
def function(num):
  print(num)
  if num == 1:
    return num

  if num%2 == 0:
    return function(int(num /2))
  else:
    return function(3*num+1)

In [28]:
function(3)

3
10
5
16
8
4
2
1

1

### 예제5
 - 정수 4를 1,2,3의 조합으로 나타내는 방법
 - ex 
  1. 1+1+1+1
  2. 1+1+2
  3. 1+2+1
  4. 2+1+1
  5. 2+2
  6. 1+3
  7. 3+1