<a href="https://colab.research.google.com/github/ckim415/Yeonny/blob/master/week4_ETL_AIRFLOW.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
%load_ext sql

In [ ]:
# ID와 PW를 자신의 환경에 맞게 수정
%sql postgresql://ckim415:Ckim415!1@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev

/usr/local/lib/python3.6/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

'Connected: ckim415@dev'

In [ ]:
import psycopg2

# Redshift connection 함수
def get_Redshift_connection():
    host = "grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com"
    redshift_user = "ckim415"
    redshift_pass = "Ckim415!1"
    port = 5439
    dbname = "dev"
    conn = psycopg2.connect("dbname={dbname} user={user} host={host} password={password} port={port}".format(
        dbname=dbname,
        user=redshift_user,
        password=redshift_pass,
        host=host,
        port=port
    ))
    conn.set_session(autocommit=True)
    return conn.cursor()

In [ ]:
import requests

def extract(url):
    f = requests.get(link)
    return (f.text)

In [ ]:
def transform(text):
    lines = text.split("\n")
    return lines

In [ ]:
def load(lines):
    # BEGIN과 END를 사용해서 SQL 결과를 트랜잭션으로 만들어주는 것이 좋음
    # BEGIN;TRUNCATE TABLE;INSERT INTO TABLE VALUES ('KEEYONG', 'MALE');END;
    cur = get_Redshift_connection()
    for r in lines:
        if r != '':
            (name, gender) = r.split(",")
            print(name, "-", gender)
            sql = "INSERT INTO (본인의스키마).name_gender VALUES ('{name}', '{gender}')".format(name=name, gender=gender)
            print(sql)
            cur.execute(sql)

Idempotency 문제 occurs
=> sql = 'DELETE FROM 본인의스키마.name_gender를 for문위에 추가!

transaction문제
delete 와 insert 는 둘다 성공해야만 한다.
=> 처음쿼리문에 BEGIN; 마지막에  sql='END;' 를추가 이 사이에 있는 쿼리문이 실패하면, 다시 원상태로 돌아간다.

이제 Extract부터 함수를 하나씩 실행

In [ ]:
link = "https://s3-geospatial.s3-us-west-2.amazonaws.com/name_gender.csv"

data = extract(link)

In [ ]:
lines = transform(data)

In [ ]:
load(lines)