<a href="https://colab.research.google.com/github/ckim415/Yeonny/blob/master/%ED%83%80%EA%B2%9F%EB%84%98%EB%B2%84.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
from itertools import product

In [5]:
numbers = [1, 1, 1, 1, 1]
target = 3

In [6]:
alist = [(+i, -i) for i in numbers]
alist

[(1, -1), (1, -1), (1, -1), (1, -1), (1, -1)]

In [23]:
answer = list(map(sum, product(*alist)))
answer

[5,
 3,
 3,
 1,
 3,
 1,
 1,
 -1,
 3,
 1,
 1,
 -1,
 1,
 -1,
 -1,
 -3,
 3,
 1,
 1,
 -1,
 1,
 -1,
 -1,
 -3,
 1,
 -1,
 -1,
 -3,
 -1,
 -3,
 -3,
 -5]

In [24]:
answer.count(target)

5

# from itertools import product

1. returns cartesian product of iterable
  - cartesian product = set of all possible pair with elements from two different set
  - two ways to use itertools.product
    1. itertools.product(*iterables, repeat = #)
      - returns the cartesian product of iterables for the sepecified number of 
      keyword repeat
      - iterable = []
      - ex) product([1,2,3], repeat =3 ) is the same as the product of ([1,2,3],[1,2,3],[1,2,3])
    2. itertools.product(*iterables)
      - iterable = list of list or list of set

In [15]:
print(list(product([1,2,3],[1,2,3],[1,2,3])))

[(1, 1, 1), (1, 1, 2), (1, 1, 3), (1, 2, 1), (1, 2, 2), (1, 2, 3), (1, 3, 1), (1, 3, 2), (1, 3, 3), (2, 1, 1), (2, 1, 2), (2, 1, 3), (2, 2, 1), (2, 2, 2), (2, 2, 3), (2, 3, 1), (2, 3, 2), (2, 3, 3), (3, 1, 1), (3, 1, 2), (3, 1, 3), (3, 2, 1), (3, 2, 2), (3, 2, 3), (3, 3, 1), (3, 3, 2), (3, 3, 3)]

In [19]:
print(list(product([1,2,3],repeat=3)), len(list(product([1,2,3],repeat=3))))

[(1, 1, 1), (1, 1, 2), (1, 1, 3), (1, 2, 1), (1, 2, 2), (1, 2, 3), (1, 3, 1), (1, 3, 2), (1, 3, 3), (2, 1, 1), (2, 1, 2), (2, 1, 3), (2, 2, 1), (2, 2, 2), (2, 2, 3), (2, 3, 1), (2, 3, 2), (2, 3, 3), (3, 1, 1), (3, 1, 2), (3, 1, 3), (3, 2, 1), (3, 2, 2), (3, 2, 3), (3, 3, 1), (3, 3, 2), (3, 3, 3)] 27

In [20]:
a = [(1,2,3),(1,2,3),(1,2,3)]
print(list(product(*a)),len(list(product(*a))))

[(1, 1, 1), (1, 1, 2), (1, 1, 3), (1, 2, 1), (1, 2, 2), (1, 2, 3), (1, 3, 1), (1, 3, 2), (1, 3, 3), (2, 1, 1), (2, 1, 2), (2, 1, 3), (2, 2, 1), (2, 2, 2), (2, 2, 3), (2, 3, 1), (2, 3, 2), (2, 3, 3), (3, 1, 1), (3, 1, 2), (3, 1, 3), (3, 2, 1), (3, 2, 2), (3, 2, 3), (3, 3, 1), (3, 3, 2), (3, 3, 3)] 27

In [22]:
b= [[1,2],[3,4]]
print(list(product(*b)))

[(1, 3), (1, 4), (2, 3), (2, 4)]

# map 


*   map(function, iterable)
  - returns iterable after applying the given function to the each element of given iterable
  - function : function to which map passes each element fo given iterable

In [29]:
list(map(sum, [[1,2,3]]))

[6]

In [35]:
print(list(product([1,2,3],[1,2,3])))
print(list(map(min, product([1,2,3],[1,2,3]))))

[(1, 1), (1, 2), (1, 3), (2, 1), (2, 2), (2, 3), (3, 1), (3, 2), (3, 3)]
[1, 1, 1, 1, 2, 2, 1, 2, 3]