<a href="https://colab.research.google.com/github/ckim415/Yeonny/blob/master/codingtest_prep/%EB%AC%B8%EC%A0%9C%ED%92%80%EC%9D%B4/%EC%9E%AC%EA%B7%80/Z.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Z
 - 백준 : 1074
 - 재귀

In [1]:
def solve(n, x, y):
  global result
  if n == 2:
    if x == X and y == Y:
      print(result)
      return 
    result += 1

    if x == X and y+1 == Y:
      print(result)
      return 
    result += 1

    if x+1 == X and y == Y:
      print(result)
      return 
    result += 1

    if x+1 == X and y+1 == Y:
      print(result)
      return 
    result += 1
    return

  solve(n/2, x, y)
  solve(n/2, x, y+n/2)
  solve(n/2, x+n/2, y)
  solve(n/2, x+n/2, y+n/2)

In [3]:
result = 0
n, X, Y = 2,3,1
solve(2*n, 0, 0)

11