<a href="https://colab.research.google.com/github/ckim415/Yeonny/blob/master/codingtest_prep/level2/%EC%88%AB%EC%9E%90%EC%9D%98_%ED%91%9C%ED%98%84.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 숫자의 표현

##문제 설명
Finn은 요즘 수학공부에 빠져 있습니다. 수학 공부를 하던 Finn은 자연수 n을 연속한 자연수들로 표현 하는 방법이 여러개라는 사실을 알게 되었습니다. 예를들어 15는 다음과 같이 4가지로 표현 할 수 있습니다.

1 + 2 + 3 + 4 + 5 = 15

4 + 5 + 6 = 15

7 + 8 = 15

15 = 15

자연수 n이 매개변수로 주어질 때, 연속된 자연수들로 n을 표현하는 방법의 수를 return하는 solution를 완성해주세요.

##제한사항
n은 10,000 이하의 자연수 입니다.

In [3]:
n = 15
num = 0

#for loop 안에서 1부터 n까지
#while num <= n:
# 연속되는 숫자들 다 더하기

In [1]:
15//2

7

In [24]:
def solution(n):
  answer = 0
  for i in range(1, n//2+1):
    num = [i]
    while sum(num) <= n:
      if sum(num) == n:
        answer += 1
        break
      num.append(num[-1]+1)
      print(i,num, answer)
      
  return answer

1 [1, 2] 0
1 [1, 2, 3] 0
1 [1, 2, 3, 4] 0
1 [1, 2, 3, 4, 5] 0
2 [2, 3] 1
2 [2, 3, 4] 1
2 [2, 3, 4, 5] 1
2 [2, 3, 4, 5, 6] 1
3 [3, 4] 1
3 [3, 4, 5] 1
3 [3, 4, 5, 6] 1
4 [4, 5] 1
4 [4, 5, 6] 1
5 [5, 6] 2
5 [5, 6, 7] 2
6 [6, 7] 2
6 [6, 7, 8] 2
7 [7, 8] 2

3