<a href="https://colab.research.google.com/github/ckim415/Yeonny/blob/master/codingtest_prep/level2/%EC%B5%9C%EB%8C%93%EA%B0%92%EA%B3%BC_%EC%B5%9C%EC%86%9F%EA%B0%92.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 최댓값과 최솟값

##문제 설명
문자열 s에는 공백으로 구분된 숫자들이 저장되어 있습니다. str에 나타나는 숫자 중 최소값과 최대값을 찾아 이를 "(최소값) (최대값)"형태의 문자열을 반환하는 함수, solution을 완성하세요.
예를들어 s가 "1 2 3 4"라면 "1 4"를 리턴하고, "-1 -2 -3 -4"라면 "-4 -1"을 리턴하면 됩니다.

##제한 조건
s에는 둘 이상의 정수가 공백으로 구분되어 있습니다.

In [8]:
s = "-1 -1"
alist = [int(i)for i in s.split(' ')]

In [9]:
max(alist), min(alist)

(-1, -1)

In [12]:
str(max(alist))+ ' ' +str(min(alist))

'-1 -1'

## 효율성
- 테스트 1 〉	통과 (0.04ms, 10.4MB)
- 테스트 2 〉	통과 (0.05ms, 10.4MB)
- 테스트 3 〉	통과 (0.03ms, 10.4MB)
- 테스트 4 〉	통과 (0.04ms, 10.2MB)
- 테스트 5 〉	통과 (0.05ms, 10.3MB)
- 테스트 6 〉	통과 (0.04ms, 10.3MB)
- 테스트 7 〉	통과 (0.03ms, 10.4MB)
- 테스트 8 〉	통과 (0.03ms, 10.3MB)
- 테스트 9 〉	통과 (0.03ms, 10.3MB)
- 테스트 10 〉	통과 (0.05ms, 10.3MB)
- 테스트 11 〉	통과 (0.03ms, 10.3MB)
- 테스트 12 〉	통과 (0.05ms, 10.4MB)