<a href="https://colab.research.google.com/github/ckim415/Yeonny/blob/master/124%EB%82%98%EB%9D%BC%EC%9D%98_%EC%88%AB%EC%9E%90.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 124 나라의 숫자

# 문제 설명
- 124 나라가 있습니다. 124 나라에서는 10진법이 아닌 다음과 같은 자신들만의 규칙으로 수를 표현합니다.
  - 124 나라에는 자연수만 존재합니다.
  - 124 나라에는 모든 수를 표현할 때 1, 2, 4만 사용합니다.
- 예를 들어서 124 나라에서 사용하는 숫자는 다음과 같이 변환됩니다.



```
10진법	124 나라	10진법	124 나라
   1	   1	      6	       14
   2	   2	      7	       21
   3	   4	      8	       22
   4   	11	     9	       24
   5	   12	     10	      41
```

- 자연수 n이 매개변수로 주어질 때, n을 124 나라에서 사용하는 숫자로 바꾼 값을 return 하도록 solution 함수를 완성해 주세요.

- 제한사항 : n은 500,000,000이하의 자연수 입니다.

In [ ]:
n =1

n // 2, n%2

(0, 1)

In [15]:
x,y = divmod(22,3)

In [11]:
n = 20
answer = []
while n > 0 :
  if n % 3 == 0:
    answer.append(4)
    n = n//3 -1

  elif n%3 == 1:
    answer.append(1)
    n = n//3
  else:
    answer.append(2)
    n = n//3

print(''.join([str(i) for i in answer[::-1]]))

142

# 다른 풀이

In [14]:
num = ['1','2','4']
n =11
answer = ''
while n > 0:
  n -= 1
  answer = num[n%3] + answer
  n //= 3

print(answer)

42